
.top-bar  グループ作成しました

.chat-side
  .side-header
    .side-header-box
      %p.side-header-box__name name
      %i.fa.fa-pencil-square-o.side-header-box__new
      %i.fa.fa-pencil-square-o.side-header-box__edit


  .groups
    .group
      %h3.group__name チーム1
      %p.group__message まだメッセージがありません

.right
  .first
    .team
      .team__name abc
      .team__member xxx
    %p.first__edit Edit
    
   
  .second
    .box
      .box__user abc
      .box__text xxx
      .box__member sss

  %form.third
    %input{type: "submit", value: "send", class: "third__bottom"}
    .third__space
    %label.third__icon
      %img{src: "https://www.nishishi.com/css/images/camera-orange-rev.png",width: "32",height: "26",alt: "＋画像"}
      %input{type: "file",class: "filesend"}
    %p.third__text aaaaaaa
