%div.macro
  %div.left
    %p.name name
    %p.group グループ名
    %p.team チーム名
  %div.right
    %div.sum
      %a.edit edit
      %p.text1 11
      %p.text2 22
    %div.tweet tweet
    %div.submit sent sent
    

  