
    .main {
      height: 100%;
      width: calc(100% - 300px);
      float: right;
      .header {
        box-sizing: border-box;
        height: 100px;
        padding: 0 40px;
        background-color: white;
    
        &__left {
          float: left;
    
          .left-header__title {
            color: black;
            font-size: 20px;
            margin-top: 35px;
          }
          ul.left-header__members {
            display: flex;
            color:lightgray;
            font-size: 12px;
            margin-top: 15px;
          }
        }
    
        &__right {
          border: 1px solid;
          color:#A4C6FF;
          float: right;
          height: 40px;
          line-height: 40px;
          margin-top: 28px;
          padding: 0 20px;
          a {
            color:#A4C6FF;
            text-decoration: none;
          }
        }
      }
    
      &__body {
        background-color:#EEEEEE;
        box-sizing: border-box;
        height: calc(100vh - 100px - 90px);
        overflow: scroll;
        padding: 46px 40px 0;
    
        .message {
          margin-bottom: 40px;
    
          &__user {
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
          }
          &__date {
            font-size: 12px;
            padding-left: 10px;
            display: inline-block;
          }
          &__content {
            margin-top: 10px;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
    
      .form {
        background-color:lightgray;
        box-sizing: border-box;
        height: 90px;
        padding: 20px 50px 20px 40px;
    
        &__message{
          border: none;
          box-sizing: border-box;
          float: left;
          height: 50px;
          padding: 0 10px;
          width: calc(100% - 150px);
        }
    
        &__mask {
          background-color:white;
          float: left;
          height: 50px;
          padding-right: 10px;
          width: 20px;
          position: relative;
    
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
          background-color:#87CEFA;
          border: none;
          color: white;
          float: right;
          font-size: 16px;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
        }
      }
    }