@import "reset";
@import "index";
@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";
@import "modules/groups";
@import "modules/side_bar";

header{
  background-color:#38AEF0;
  text-align: center;
  color:white;
}

*{
  box-sizing: border-box
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
