@import "./reset";
@import "./variable";
@import "messages/index";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header{
  background-color:#38AEF0;
  text-align: center;
  color:white;
}

*{
  box-sizing: border-box
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}
